
h1{
font-family: Roboto;
font-size: 20px;
margin: 30px;
padding-top: 30px;
}
h2 {
font-family: Roboto;  
margin: 30px;
padding-top: 30px;
}
body {
font-size: 20px;
margin: 110px;
padding-left: 30px;
cursor: none;
overflow: hidden;
}
.item {
/*  background-color: #563F28; */
  float: left;
  margin-left: 200px;
  margin: 40px;
  padding: 10px;
  height: 2000px;
  width: 100vw;
  color: black;
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 90%;
  overflow: hidden;
  border: 4px;
  align-content: center;
}
img {
   background-color: white;
   height: 100vh;
   margin-left: 200px;
    
}
p {
font-family: Roboto;
font-size: 15px;
margin-top: 15px;
margin-left: 30px;
position: fixed;
}
 /*
.item {
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
  height: 400px;
  width: 300px;
  color: white;
  font-size: 23px;
  letter-spacing: -2px;
  line-height: 90%;
  overflow: hidden;
}
*/

/*splash screen */
#overlay{
  display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.9;
	z-index:1001;
}

#overlay-content{ 
	position: absolute;
	display: none;
	width: 360px;
	height: 400px;
	padding: 16px;
	background-color: white;
	z-index:1002;
    
}


/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font- font-size: 20px;
  margin: 110;
}

 

/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
