body {
  font-size: 20px;
  margin: 110px;
}

.item {
  background-color: #563F28;
  float: left;
  margin: 10px;
  padding: 10px;
  height: 400px;
  width: 300px;
  /*can later change the color to the same as the background so that the boxes blend into it? */
  color: white;
  font-size: 23px;
  letter-spacing: -2px;
  line-height: 90%;
  overflow: hidden;
}












/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
